################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/database_session/.vs/database_session/FileContentIndex/275cbf55-0360-44eb-8f3e-6966f868c6f6.vsidx
/database_session/.vs/database_session/FileContentIndex/79c8859c-ed9b-48fd-ab67-59ead92c0c45.vsidx
/database_session/.vs/database_session/FileContentIndex/9360a587-1fb8-45c9-98b9-2f708e40f2c9.vsidx
/database_session/.vs/database_session/FileContentIndex/cc6026fe-701f-471d-9e92-b90227d34903.vsidx
/database_session/.vs/database_session/FileContentIndex/d1f198ac-897e-41fa-8d29-f270dc99f408.vsidx
