################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/database_session/.vs/database_session/FileContentIndex/275cbf55-0360-44eb-8f3e-6966f868c6f6.vsidx
